# Archivos multimedia pesados (mantener solo local)
recursos/*.mp4
recursos/*.m4a
recursos/Paca_Digestora_Silva.pdf

# PDFs pesados excluidos (mantener solo local)
# Los PDFs ligeros si se suben

# Archivos del sistema
Thumbs.db
.DS_Store
*.lock
